<div id='programming_languages'>
  <% programming_languages.each do |programming_language| %>
    <h2>
      <%= programming_language.name %>
    </h2>
    <h3>
      <%= programming_language.type %>
    </h3>
    <h3>
      <%= programming_language.designed_by %>
    </h3>
    <br>
  <% end %>
</div>
