<div id='programming_languages' class='flex flex-col'>
  <% programming_languages.each do |programming_language| %>
    <div class='mb-4'>
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">
        <%= programming_language.name %>
      </h5>
      <p class="font-normal text-gray-700">
        Type: <%= programming_language.type %>
      </p>
      <p class="font-normal text-gray-800">
        Designed by: <%= programming_language.designed_by %>
      </p>
    </div>
  <% end %>
</div>
