<div data-controller='programming-languages--search'>
  <input id='query' name='query' type='text' data-programming-languages--search-target='query' data-action='keydown.enter->programming-languages--search#apply'>
  <button type='button' data-action='click->programming-languages--search#apply'>
    <span>Find</span>
  </button>
  <div id='programming_languages'></div>
</div>
